// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: rgb(130, 36, 12);
$secondary: rgb(59, 6, 6);
$accent: #e6d1bb;

$dark: #220101;

$positive: #d516b2;
$negative: #020001;
$info: #e98861;
$warning: #dd0000;
